<!DOCTYPE html>
<html>
<head>
	<title>David Gierman - Modern Frontend Developer</title>
	<link rel="stylesheet" type="text/css" href="../../assets/css/style.css">
	<link rel="stylesheet" href="../../assets/css/accordian.css">
	<link href='https://fonts.googleapis.com/css?family=Lato|Raleway:300,400|Roboto:300,400' rel='stylesheet'>
	<script src="https://use.fontawesome.com/c3e06da910.js"></script>
</head>
<body>
	<div id="header-wrap">
		<header id="header" class="row clearfix">
			<nav id="main-nav" role="navigation">
					<ul>
						<li><a href="/"><i class="fa fa-angle-double-left" aria-hidden="true"></i> Go Back</a></li>
					</ul>
				</nav>
		</header>
	</div>
	<div id="main-wrap">
		<section class="page-title-wrap">
			<div class="row">
				<h1 id="page-title">Tabs</h1>
			</div>
		</section>

		<main id="content" class="row">
			<div class="accordion">
			  
			  <ul>
			  	<!-- Item 1 -->
			    <li>
			      <input type="radio" id="appetizers" name="radio-accordion" checked="checked"/>
			      <label class="ac-label" for="appetizers">Appetizers</label>
			      <section class="content">
			      	<header>Check our our tasty apps!</header>
			        <h3>Happy hour menu - half off!!</h3>
			        <ul>
			          <li>Chicken Wings (6) - 5.99$</li>
			          <li>Calamari - 7.99$</li>
			          <li>Garlic breaded pickles - 4.59$</li>
			        </ul>
			      </section>
			    </li>

			    <!-- Item 2 -->
			    <li>
			      <input type="radio" id="entrees" name="radio-accordion"/>
			      <label class="ac-label" for="entrees">Entrees</label>
			      <section class="content">
			      	<header>Choose from a wide range of pastas, combos and signature dishes</header>
			        <h3>Pastas</h3>
			        <ul>
			          <li>Chicken Picatta - 14.99$</li>
			          <li>Chicken Pollo - 12.99$</li>
			          <li>Lasagna (Chicken/beef) - 10.99$</li>
			        </ul>
			        <h3>Combos</h3>
			        <ul>
			          <li>Italian Sausage & Beef Combo - 15.99$</li>
			          <li>Mac n Cheese with Chicken Tenders - 8.99$</li>
			        </ul>
			      </section>
			    </li>

			    <!-- Item 3 -->
			    <li>
			      <input type="radio" id="deserts" name="radio-accordion"/>
			      <label class="ac-label" for="deserts">Desserts</label>
			      <section class="content">
			      	<header>New Summer specials!!</header>
			        <h3>Shakes and Ice Creams</h3>
			        <ul>
			          <li>Turtle Caramel Shake - 6.99$</li>
			          <li> Chocolate Brownie Bite- 4.99$</li>
			        </ul>
			      </section>
			    </li>

			    <!-- Item 4 -->
			    <li>
			      <input type="radio" id="soups" name="radio-accordion"/>
			      <label class="ac-label" for="soups">Soups & Salads</label>
			      <section class="content">
			      	<header>Healthy starters</header>
			        <h3>Soups</h3>
			        <ul>
			          <li>Vegetable Soup - 6.99$</li>
			          <li>Gazpacho Andaluz - 4.99$</li>
			        </ul>
			        <h3>Salads</h3>
			        <ul>
			          <li>Caesar Salad - 6.99$</li>
			          <li>Green Salad - 4.99$</li>
			        </ul>
			      </section>
			    </li>
  			</ul>
			</div>
		</main>
	</div>
	<div id="footer-wrap">
		<footer>
		<p>Copyright &copy; 2017</p>
	</footer>
</body>
</html>