*, *:after, *:before {
	box-sizing: border-box;
}
html, body, div, span, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
abbr, address, cite, code,
del, dfn, em, img, ins, kbd, q, samp,
small, strong, sub, sup, var,
b, i,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section, summary,
time, mark, audio, video {
    margin:0;
    padding:0;
    border:0;
    outline:0;
    vertical-align:baseline;
    background:transparent;
}

html {
	font-size: 62.5;
}

body {
	font-family: Lato, sans-serif;
}

h1 {
	font-size: 3em;
	font-weight: normal;
}

h2 {
	font-size: 2.6em;
	font-weight: normal;
}

.row{
	width: 96%;
	max-width: 960px;
	margin: 0 auto;
}

#header-wrap{
	background: #6AB47B;
	border-top: 5px solid #4C8158;
	overflow: auto;
}

#main-nav {
    float: right;
    display: inline-block;
    padding: 5px 0 0;
}

nav li {
	float:left;
	text-decoration: none;
	list-style: none;
	padding: 10px 20px;
}

nav li a {
	text-decoration: none;
	color: #fff;
}

nav li:hover{
	border-bottom: 5px solid #4C8158;
}

.page-title-wrap{
	background: #DAF5E0;
}

#page-title{
	text-align: center;
	padding: 5%;
	color: #2F3424;
}

#site-title {
	font-size: 2em;
	color: #fff;
	text-align: center;
	font-family: 'Lato', sans-serif;
	display: inline-block;
	padding: 5px;
}

#main-wrap{
	background: #fff;
	min-height: 100vh;
}
#content{
	padding-top: 10%;
}

.component-container{
	width: 32%;
	float: left;
	margin-right: 2%;
	border: 1px solid #2F3430;
	padding: 5%;
}

.component-container h2 {
	color: #4C8158;
}