button {
	margin:0;
	border:0;
	padding:0;
	display:inline-block;
	vertical-align:middle;
	white-space:normal;
	background:none;
	line-height:1;
	overflow: visible;
	text-transform: none;
}

a {
	text-decoration: none;
}

.button {
	font: inherit;
	font-weight: normal;
	text-transform: uppercase;
	display: inline-block;
	cursor: pointer;
	padding: .3em 1em;
  	margin: .5em .2em .5em 0;
  	line-height: 1.618em;
  	font-size: .8em;
  	background: transparent;
  	color: #333;
  	box-shadow: 0 -2px 0 rgba(0,0,0,0.2) inset;
  	border: 1px solid transparent;
  	border-color: #ccc;
    border-radius: 3px;
    -webkit-transition: all .1s linear;
    -moz-transition: all .1s linear;
    -o-transition: all .1s linear;
    transition: all .1s linear;
}

.button:hover,
.button:active{
	background: rgba(0,0,0,.2);
	color: #fff;
	box-shadow: 1px 0px 1px rgba(0,0,0,0.2) inset;
}

.button-sm {
	padding: .2em .8em;
	font-size: .7em;
}

.button-md {
	padding: .4em 1.1em;
	font-size: .9em;
}

.button-lg {
	padding: .5em 1.2em;
	font-size: 1.1em;
}

.button:focus{
	outline: none;
}
