<!DOCTYPE html>
<html>
<head>
	<title>David Gierman - Modern Frontend Developer</title>
	<link rel="stylesheet" type="text/css" href="style.css">
	<link rel="stylesheet" href="tabs.css">
	<link href='https://fonts.googleapis.com/css?family=Lato|Raleway:300,400|Roboto:300,400' rel='stylesheet'>
	<script src="https://use.fontawesome.com/c3e06da910.js"></script>
</head>
<body>
	<div id="header-wrap">
		<header id="header" class="row clearfix">
			<nav id="main-nav" role="navigation">
					<ul>
						<li><a href="/"><i class="fa fa-angle-double-left" aria-hidden="true"></i> Go Back</a></li>
					</ul>
				</nav>
		</header>
	</div>
	<div id="main-wrap">
		<section class="page-title-wrap">
			<div class="row">
				<h1 id="page-title">Tabs</h1>
			</div>
		</section>

		<main id="content" class="row">
			<div class="tabComponent">

				<!-- Insert code to create tabbed components here -->
	  		
	  		<input type="radio" class="tc-tab" checked name="tab" id="home">
				<label for="home" class="tc-label">Home Decor</label>
				
				<input type="radio" class="tc-tab" name="tab" id="furniture">
				<label for="furniture" class="tc-label">Furniture</label> 
				
			  <input type="radio" class="tc-tab" name="tab" id="kitchen">
			  <label for="kitchen" class="tc-label">Kitchen</label>
				
			  <input type="radio" class="tc-tab" name="tab" id="clearance">
			  <label for="clearance" class="tc-label">Clearance</label>

			  <div class="tc-panel">Browse through our list of Home Decor Items</div>
			  <div class="tc-panel">Flash Sale on Living Room and Bedroom Furniture</div>
			  <div class="tc-panel">Bring the best out of the masterchef in you!!</div>
			  <div class="tc-panel">Red hot deals at affordable prices. Check out our clearance section for more details</div>
			</div>
		</main>
	</div>
	<div id="footer-wrap">
		<footer>
		<p>Copyright &copy; 2017</p>
	</footer>
</body>
</html>