<!DOCTYPE html>
<html>
<head>
	<title>David Gierman - Modern Frontend Developer</title>
	<link rel="stylesheet" type="text/css" href="../../assets/css/style.css">
	<link rel="stylesheet" href="../../assets/css/business-card.css">
	<link href='https://fonts.googleapis.com/css?family=Lato|Raleway:300,400|Roboto:300,400' rel='stylesheet'>
	<script src="https://use.fontawesome.com/c3e06da910.js"></script>
</head>
<body>
	<div id="header-wrap">
		<header id="header" class="row clearfix">
			<nav id="main-nav" role="navigation">
					<ul>
						<li><a href="/"><i class="fa fa-angle-double-left" aria-hidden="true"></i> Go Back</a></li>
					</ul>
				</nav>
		</header>
	</div>
	<div id="main-wrap">
		<section class="page-title-wrap">
			<div class="row">
				<h1 id="page-title">Business Card</h1>
			</div>
		</section>

		<main id="content" class="row">
			<div class="c-business-card">
				<label class="c-card-label">
			    <input type="checkbox"  />
			    <div class="c-card">
			      <section class="front">
				      <header>
				      	<h1 class="c-card-heading">David Gierman</h1>
				      	<span class="c-card-subtitle">Modern Fullstack Developer</span>
				      	<span class="c-card-flip"><i class="fa fa-retweet fa-2x" aria-hidden="true"></i></span>
				      </header>
			        
			        <p class="c-card-content">
			        	Future Bov Academy Graduate. Passionate about learning and building fullstack web applications. Contact me for your next project!</p>
			        <p class="c-card-links">
			        	<a href="#" class="c-card-link">dgeero89@gmail.com</a> 
			        	<a href="http://dgeero89.github.io/" class="c-card-link">dgeero89.github.io</a> 
			        </p>
			        	
			        <footer class="c-card-footer">
			        	<div class="c-card-encyclopedia">
			        		<img src="../../assets/images/enc1.png" alt="David Gierman on Encyclopedia">
			        		<p>David Gierman <br> on <a href="#">Encyclopedia.MD</a></p>
			        	</div>
			        	<div class="c-card-social-icons">
			        		<a href="https://twitter.com/DavidGierman" target="_blank"><img src="../../assets/images/twitter.png" alt="Twitter"></a>
			        		<a href="https://github.com/DGeero89" target="_blank"><img src="../../assets/images/github1.png" alt="Github"></a>
			        		<a href="https://www.linkedin.com/in/david-gierman/" target="_blank"><img src="../../assets/images/linkedin.png" alt="Linkedin"></a>
			        	</div>
			        </footer>
			      </section>
			      <section class="back">
			        <p class='c-card-back-name'>
			          David Gierman
			        </p>
			      </section>
			    </div>
			</label>
			</div>
		</main>
	</div>
	<div id="footer-wrap">
		<footer>
		<p>Copyright &copy; 2017</p>
	</footer>
</body>
</html>